.calculator {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  width: 150px;
  margin-bottom: 5px;
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.input-wrapper input {
  width: calc(100% - 40px);
  /* Adjust width to fit the span inside the wrapper */
  padding: 10px;
  margin: 5px 0 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-wrapper span {
  margin-left: 10px;
}

.button-group {
  display: flex;
  justify-content: flex-start;
}

.button-group button {
  background-color: #af4c4c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-group button:hover {
  background-color: #a44b4b;
}

.result {
  margin-top: 20px;
}

.result h2 {
  font-size: 20px;
  color: #333;
}